.navetilo{
    background-color:#1D8DE4;
    padding:5px 35px;
    display: flex;
    justify-content: flex-end;
}
.navetilo a{

    font-weight: 500;
    color: white;
    font-family: 'sans-serif';
}

.barra-enlace{
    color: azure;
    padding: 10px 15px;
    display: flex;
    text-decoration: none;
    font-family: 'Verdana';
    font-size: 18px; 
}

.barra-enlace:hover{
    background:#33A6FF;
    text-decoration: none;
}

.form-inicio{
    background: #C1DAEC;
    border-radius: 6px;
    width: 450px;
    padding: 30px;
    margin: auto;
    margin-top:100px ;
    font-family: 'Verdana';
}

.form-letras{
    width: 100%;
    padding: 10px 1px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
     font-family: 'Verdana';
     font-size: 16px;
}